<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Ord_ID}}" placeholder="Order ID"
            name="Ord_ID" readonly>
        <label for="floatingInput" class="form-label">Order ID</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Ord_Date}}" placeholder="Order Date"
            name="Ord_Date" required>
        <label for="floatingInput">Order Date</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Ord_Price}}" placeholder="Order Price"
            name="Ord_Price" required>
        <label for="floatingInput">Order Price</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Quantity}}" placeholder="Quantity"
            name="Quantity" readonly>
        <label for="floatingInput">Quantity</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Invoice}}" placeholder="Invoice"
            name="Invoice" readonly>
        <label for="floatingInput">Invoice</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Mob_ID}}" placeholder="Mobile ID"
            name="Mob_ID" required>
        <label for="floatingInput">Mobile ID</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Cust_ID}}" placeholder="Customer ID"
            name="Cust_ID">
        <label for="floatingInput">Customer ID</label>
    </div>
</div>
<div class="col-12 d-grid">
    <button class="btn btn-success" type="submit">Update</button>
</div>