<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Mob_ID}}" placeholder="Mobile ID"
            name="Mob_ID" readonly>
        <label for="floatingInput" class="form-label">Mobile ID</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Mob_Name}}" placeholder="Mobile Name"
            name="Mob_Name" readonly>
        <label for="floatingInput">Mobile Name</label>
    </div>
</div>
<div class="col-4">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Mob_image}}" placeholder="Image Url"
            name="Mob_image">
        <label for="floatingInput">Image Url</label>
    </div>
</div>
<div class="col-4">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Mfd_Date}}" placeholder="Mfd Date"
            name="Mfd_Date" required>
        <label for="floatingInput">Mfd Date</label>
    </div>
</div>
<div class="col-4">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Price}}" placeholder="Price"
            name="Price" required>
        <label for="floatingInput">Price</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Comp_ID}}" placeholder="Comp ID"
            name="Comp_ID" readonly>
        <label for="floatingInput">Comp ID</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Stock}}" placeholder="Stock"
            name="Stock" required>
        <label for="floatingInput">Stock Available</label>
    </div>
</div>
<div class="col-4">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Processor}}"
            placeholder="Processor Name" name="Processor">
        <label for="floatingInput">Processor Name</label>
    </div>
</div>
<div class="col-4">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Camera}}" placeholder="Camera"
            name="Camera">
        <label for="floatingInput">Camera</label>
    </div>
</div>
<div class="col-4">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Display_Size}}"
            placeholder="Display Size" name="Display_Size">
        <label for="floatingInput">Display Size</label>
    </div>
</div>
<div class="col-4">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Battery}}" placeholder="Battery"
            name="Battery">
        <label for="floatingInput">Battery</label>
    </div>
</div>
<div class="col-4">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.RAM}}" placeholder="RAM" name="RAM">
        <label for="floatingInput">RAM</label>
    </div>
</div>
<div class="col-4">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Storage}}" placeholder="Storage"
            name="Storage">
        <label for="floatingInput">Storage</label>
    </div>
</div>
<div class="col-12 d-grid">
    <button class="btn btn-success" type="submit">Update</button>
</div>